# Python
venv/
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
backend/.env

# Databases
*.db
*.sqlite
*.sqlite3

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
